<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="LegalOrg" value="CMG"/>
		<add key="FromDate" value="2023-01-01"/>
		<add key="ToDate" value="2023-12-31"/>
		<add key="Version" value="V11"/>
		<add key="MeasureList" value="CMS127v10,CMS165v10"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
